@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
    ViewData["ActiveTab"] = "Contact";
}

<h2>📧 Contact Us</h2>
<p>For any queries, reach out to our team:</p>

<div class="card">
    <p><b>Saad Ahmed</b> – saad@example.com</p>
    <p><b>Muhammad Huzaifa</b> – huzaifa@example.com</p>
    <p><b>Muhammad Yousuf</b> – yousuf@example.com</p>
    <p><b>Murtaza Johar</b> – murtaza@example.com</p>
    <p><b>Ali Raza</b> – aliraza@example.com</p>
    <p><b>Haseeb Mujtaba</b> – haseeb@example.com</p>
    <p><b>Hunain Memon</b> – hunain@example.com</p>
</div>
